<IfModule mod_headers.c>
  <FilesMatch "\.(avif|css|gif|js|jpg|jpeg|mp3|mp4|ogg|opus|png|svg|webm|webp|woff2?)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>
</IfModule>